@{
    Layout = "_LayoutAdmin";
}

<div class="page-content">

    <!-- Start Container Fluid -->
    <div class="container-xxl">

         <div class="row">
              <div class="col-12">
                   <div class="card">
                        <div class="card-header">
                             <h4 class="card-title">Thêm Ảnh Thumbnail</h4>
                        </div>
                        <div class="card-body">
                             <div class="bg-light text-center rounded bg-light mb-4">
                                  <img src="assets/images/product/p-1.png" alt="" class="avatar-xxl">
                             </div>
                             <!-- File Upload -->
                             <form action="https://techzaa.in/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                                  <div class="fallback">
                                       <input name="file" type="file" multiple />
                                  </div>
                                  <div class="dz-message needsclick">
                                       <i class="bx bx-cloud-upload fs-48 text-primary"></i>
                                       <h3 class="mt-4">Kéo thả ảnh vào đây, hoặc <span class="text-primary">click để chọn</span></h3>
                                       <span class="text-muted fs-13">
                                            1600 x 1200 (4:3) được khuyến nghị. Chấp nhận file PNG, JPG và GIF
                                       </span>
                                  </div>
                             </form>
                        </div>
                   </div>

                   <div class="card">
                        <div class="card-header">
                             <h4 class="card-title">Thông Tin Chung</h4>
                        </div>
                        <div class="card-body">
                             <div class="row">
                                  <div class="col-lg-6">
                                       <form>
                                            <div class="mb-3">
                                                 <label for="category-title" class="form-label">Tên Danh Mục</label>
                                                 <input type="text" id="category-title" class="form-control" placeholder="Ví dụ: Trái Cây Tươi, Rau Củ Tươi">
                                            </div>
                                       </form>
                                  </div>

                                  <div class="col-lg-6">
                                       <form>
                                            <label for="crater" class="form-label">Người Tạo</label>
                                            <select class="form-control" id="crater" data-choices data-choices-groups data-placeholder="Chọn người tạo">
                                                 <option value="">Chọn người tạo</option>
                                                 <option value="Admin">Admin</option>
                                                 <option value="Seller">Seller</option>
                                                 <option value="Other">Khác</option>
                                            </select>
                                       </form>
                                  </div>
                                  <div class="col-lg-6">
                                       <form>
                                            <div class="mb-3">
                                                 <label for="product-stock" class="form-label">Số Lượng Sản Phẩm</label>
                                                 <input type="number" id="product-stock" class="form-control" placeholder="Nhập số lượng sản phẩm">
                                            </div>

                                       </form>
                                  </div>
                                  <div class="col-lg-6">
                                       <form>
                                            <div class="mb-3">
                                                 <label for="product-id" class="form-label">Mã Danh Mục</label>
                                                 <input type="text" id="product-id" class="form-control" placeholder="Ví dụ: TC001, RC001">
                                            </div>

                                       </form>
                                  </div>
                                  <div class="col-lg-12">
                                       <div class="mb-0">
                                            <label for="description" class="form-label">Mô Tả</label>
                                            <textarea class="form-control bg-light-subtle" id="description" rows="7" placeholder="Mô tả chi tiết về danh mục nông sản">Danh mục trái cây tươi với đa dạng các loại trái cây theo mùa, được chọn lọc kỹ lưỡng từ các vườn trồng uy tín, đảm bảo chất lượng và độ tươi ngon cao nhất.</textarea>
                                       </div>
                                  </div>
                             </div>
                        </div>
                   </div>
                   <div class="card">
                        <div class="card-header">
                             <h4 class="card-title">Tùy Chọn Meta</h4>
                        </div>
                        <div class="card-body">
                             <div class="row">
                                  <div class="col-lg-6">
                                       <form>
                                            <div class="mb-3">
                                                 <label for="meta-title" class="form-label">Tiêu Đề Meta</label>
                                                 <input type="text" id="meta-title" class="form-control" placeholder="Tiêu đề hiển thị trên trình duyệt">
                                            </div>
                                       </form>
                                  </div>
                                  <div class="col-lg-6">
                                       <form>
                                            <div class="mb-3">
                                                 <label for="meta-tag" class="form-label">Từ Khóa Meta</label>
                                                 <input type="text" id="meta-tag" class="form-control" placeholder="Các từ khóa liên quan, phân tách bằng dấu phẩy">
                                            </div>
                                       </form>
                                  </div>
                                  <div class="col-lg-12">
                                       <div class="mb-0">
                                            <label for="description" class="form-label">Mô Tả Meta</label>
                                            <textarea class="form-control bg-light-subtle" id="description" rows="4" placeholder="Mô tả ngắn gọn về danh mục nông sản">Danh mục trái cây tươi chất lượng cao, đa dạng chủng loại, được chọn lọc kỹ lưỡng từ các vườn trồng uy tín. Đảm bảo độ tươi ngon và an toàn vệ sinh thực phẩm.</textarea>
                                       </div>
                                  </div>
                             </div>
                        </div>
                   </div>
                   <div class="p-3 bg-light mb-3 rounded">
                        <div class="row justify-content-end g-2">
                             <div class="col-lg-2">
                                  <a href="#!" class="btn btn-outline-secondary w-100">Lưu Thay Đổi</a>
                             </div>
                             <div class="col-lg-2">
                                  <a href="#!" class="btn btn-primary w-100">Hủy</a>
                             </div>
                        </div>
                   </div>
              </div>
         </div>

    </div>
    <!-- End Container Fluid -->

    <!-- ========== Footer Start ========== -->
    <footer class="footer">
         <div class="container-fluid">
              <div class="row">
                   <div class="col-12 text-center">
                         &copy; VNFarm. Crafted by <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a href="#" class="fw-bold footer-text" target="_blank">Hệ Thống Quản Lý Nông Sản VNFarm</a>
                   </div>
              </div>
         </div>
    </footer>
    <!-- ========== Footer End ========== -->

</div>