<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | VNFarm</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="~/icon.ico" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="~/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-5) -->
        <header class="ltn__header-area ltn__header-5 ltn__header-transparent gradient-color-2">
            <!-- ltn__header-top-area start -->
            <div class="ltn__header-top-area top-area-color-white d-none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="locations.html"><i class="icon-placeholder"></i> 15/A, Nest Tower,
                                            NYC</a></li>
                                    <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i
                                                class="icon-mail"></i> info@webmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-bar-right text-right text-end">
                                <div class="ltn__top-bar-menu">
                                    <ul>
                                        <li>
                                            <!-- ltn__language-menu -->
                                            <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                                <ul>
                                                    <li><a href="#" class="dropdown-toggle"><span
                                                                class="active-currency">English</span></a>
                                                        <ul>
                                                            <li><a href="#">Arabic</a></li>
                                                            <li><a href="#">Bengali</a></li>
                                                            <li><a href="#">Chinese</a></li>
                                                            <li><a href="#">English</a></li>
                                                            <li><a href="#">French</a></li>
                                                            <li><a href="#">Hindi</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- ltn__social-media -->
                                            <div class="ltn__social-media">
                                                <ul>
                                                    <li><a href="#" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                                                    </li>

                                                    <li><a href="#" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-top-area end -->

            <!-- ltn__header-middle-area start -->
            <div
                class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black sticky-active-into-mobile  ltn__logo-right-menu-option plr--9---">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo-wrap">
                                <div class="site-logo">
                                    <a href="/"><img src="~/logo.png" alt="Logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col header-menu-column menu-color-white">
                            <div class="header-menu d-none d-xl-block">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul id="navigation-menu">
                                            <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                                            <li><a asp-action="About" asp-controller="Home">Giới thiệu</a></li>
                                            <li><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                                            <li><a asp-action="ContactUs" asp-controller="Home">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="ltn__header-options ltn__header-options-2">
                            <!-- user-menu -->
                            <div class="ltn__drop-menu user-menu">
                                <ul>
                                    <li>
                                        <a href="#"><i class="icon-user"></i></a>
                                        <ul id="user-menu">
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- mini cart -->
                            <div class="mini-cart-icon" style="margin-right: 15px; margin-left:15px; position: relative;">
                                <a href="#" id="layoutCartIcon" class="ltn__utilize-toggle">
                                    <i class="icon-shopping-cart" style="font-size: 22px;"></i>
                                    <span id="layoutCartItemCount" class="badge bg-primary rounded-pill" style="position: absolute; top: -8px; right: -12px; font-size: 0.7em; padding: 0.25em 0.5em;">0</span>
                                </a>
                            </div>
                            <!-- Mobile Menu Button -->
                            <div class="mobile-menu-toggle d-xl-none">
                                <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                    <svg viewBox="0 0 800 600">
                                        <path
                                            d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                            id="top"></path>
                                        <path d="M300,320 L540,320" id="middle"></path>
                                        <path
                                            d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                            id="bottom"
                                            transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->
        </header>
        <!-- HEADER AREA END -->

        @RenderBody()

        <!-- FOOTER AREA START -->
        <footer class="ltn__footer-area">
            <div class="footer-top-area  section-bg-1 plr--5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-about-widget">
                                <h4 class="footer-title">Về chúng tôi</h4>
                                <p>Chúng tôi là sàn thương mại điện tử chuyên cung cấp các sản phẩm nông sản tươi ngon, 
                                    chất lượng cao từ nông dân Việt Nam đến tận tay người tiêu dùng.</p>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="footer-address-icon">
                                                <i class="icon-placeholder"></i>
                                            </div>
                                            <div class="footer-address-info">
                                                <p>Số 1, Phố Xốm, Hà Đông, Hà Nội</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-address-icon">
                                                <i class="icon-call"></i>
                                            </div>
                                            <div class="footer-address-info">
                                                <p><a href="tel:+84795155630">+84795155630</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-address-icon">
                                                <i class="icon-mail"></i>
                                            </div>
                                            <div class="footer-address-info">
                                                <p><a href="mailto:dantruong2023@gmail.com">dantruong2023@gmail.com</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ltn__social-media mt-20">
                                    <ul>
                                        <li><a href="https://www.facebook.com/dantruong.2025" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-menu-widget clearfix">
                                <h4 class="footer-title">Tổng quan</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                                        <li><a asp-action="About" asp-controller="Home">Giới thiệu</a></li>
                                        <li><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
                                        <li><a asp-action="ContactUs" asp-controller="Home">Liên hệ</a></li>
                                        <li><a asp-action="FAQ" asp-controller="Home">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-menu-widget clearfix">
                                <h4 class="footer-title">Mua hàng</h4>
                                <div class="footer-menu">
                                    <ul>
                                        <li><a asp-action="Profile" asp-controller="Account">Tài khoản</a></li>
                                        <li><a asp-action="Cart" asp-controller="Account">Giỏ hàng</a></li>
                                        <li><a asp-action="Orders" asp-controller="Account">Đơn hàng</a></li>
                                        <li><a asp-action="Chat" asp-controller="Account">Tin nhắn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                            <div class="footer-widget footer-newsletter-widget">
                                <h4 class="footer-title">Thanh toán</h4>
                                <h5 class="mt-30">Chúng tôi chấp nhận</h5>
                                <img src="~/img/icons/payment-4.png" alt="Payment Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER AREA END -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Cart Modal -->
    <div class="modal fade" id="quickViewCartModal" tabindex="-1" aria-labelledby="quickViewCartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title p-3" id="quickViewCartModalLabel">Giỏ hàng của bạn</h5>
                </div>
                <div class="modal-body" id="quickViewCartModalBody">
                    <!-- Cart content will be loaded here -->
                    <div class="text-center py-5">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Đang tải...</span>
                        </div>
                        <p class="mt-2">Đang tải giỏ hàng...</p>
                    </div>
                </div>
                <div class="modal-footer" id="quickViewCartModalFooter" style="display: none;">
                    <div class="w-100">
                        <div class="d-flex justify-content-between mb-2">
                            <span>Tổng cộng (<span id="quickViewCartTotalItems">0</span> sản phẩm):</span>
                            <strong id="quickViewCartTotalPrice">0đ</strong>
                        </div>
                        <div class="d-flex justify-content-end gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <a href="/Account/Cart" class="btn btn-outline-primary">Xem chi tiết giỏ hàng</a>
                            <button type="button" id="quickViewCheckoutBtn" class="btn theme-btn-1 btn-effect-1">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- All JS Plugins -->
    <script src="~/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="~/js/main.js"></script>
    <script>
        // Thêm vào đầu hàm init
        if (typeof $ !== 'undefined' && $.fn.niceSelect) {
            $('select').niceSelect('destroy');
        }
        const userMenu = document.getElementById("user-menu");
        if (localStorage.getItem("accessToken")) {
            userMenu.innerHTML = `
                <li><a href="/Account/Profile">Tài khoản</a></li>
                <li><a href="/Account/Chat">Tin nhắn</a></li>
                <li><a href="/Account/Cart">Giỏ hàng</a></li>
                <li><a href="/Account/Orders">Đơn hàng</a></li>
                <li><a href="/Account/Logout">Đăng xuất</a></li>
            `;
        } else {
            userMenu.innerHTML = `
                <li><a href="/Home/Login">Đăng nhập</a></li>
                <li><a href="/Home/Register">Đăng ký</a></li>
            `;
        }
        const navigationMenu = document.getElementById("navigation-menu");
        if (localStorage.getItem("role") === "Admin") {
            window.location.href = "/Admin/Dashboard"; // Tạm thời comment để không bị redirect khi test
            navigationMenu.innerHTML += `
                <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
            `;
        }
        else if (localStorage.getItem("role") === "Seller") {
            window.location.href = "/Seller"; // Tạm thời comment để không bị redirect khi test
            navigationMenu.innerHTML += `
                <li><a href="/Seller">Seller Dashboard</a></li>
            `;
        }
    </script>
    <script type="module">
        import Toast from "/Custom/Toast.js";
        import {BaseService} from "/Custom/BaseService.js";
        import url from "/Custom/endpoints.js";
        import key from "/Custom/jwt.js";

        const cartUrl = url.base + "/Cart";
        const cartService = new BaseService(cartUrl, key);
        let quickViewCartModalInstance = null;
        let currentCartData = null; // Lưu trữ dữ liệu giỏ hàng hiện tại

        const layoutCartIcon = document.getElementById('layoutCartIcon');
        const layoutCartItemCount = document.getElementById('layoutCartItemCount');
        const quickViewCartModalElement = document.getElementById('quickViewCartModal');
        const quickViewCartModalBody = document.getElementById('quickViewCartModalBody');
        const quickViewCartModalFooter = document.getElementById('quickViewCartModalFooter');
        const quickViewCartTotalItems = document.getElementById('quickViewCartTotalItems');
        const quickViewCartTotalPrice = document.getElementById('quickViewCartTotalPrice');
        const quickViewCheckoutBtn = document.getElementById('quickViewCheckoutBtn');

        function initializeCartModal() {
            if (quickViewCartModalElement) {
                quickViewCartModalInstance = new bootstrap.Modal(quickViewCartModalElement);
            }
        }
        
        function updateLayoutCartItemCount(totalItems) {
            if (layoutCartItemCount) {
                layoutCartItemCount.textContent = totalItems;
            }
        }

        function renderCartInModal(cartData) {
            currentCartData = cartData; // Cập nhật dữ liệu giỏ hàng hiện tại
            if (!cartData || !cartData.shopCarts || cartData.shopCarts.length === 0) {
                quickViewCartModalBody.innerHTML = `
                    <div class="text-center py-5">
                        <i class="fas fa-shopping-cart fa-3x text-muted mb-3"></i>
                        <h4>Giỏ hàng trống</h4>
                        <p>Bạn chưa có sản phẩm nào trong giỏ hàng.</p>
                        <a href="/Product" class="theme-btn-1 btn btn-effect-1 mt-2">Tiếp tục mua sắm</a>
                    </div>
                `;
                quickViewCartModalFooter.style.display = 'none';
                updateLayoutCartItemCount(0);
                return;
            }

            let modalCartHTML = '<div class="ltn__shoping-cart-inner-modal">';
            let overallTotalAmount = 0;
            let overallTotalItems = 0;

            cartData.shopCarts.forEach(shopCart => {
                modalCartHTML += `
                    <div class="shop-header-modal d-flex align-items-center mb-2 p-2 bg-light rounded">
                        <img src="${url.baseUrl}/img/Stores/${shopCart.shop.logoUrl}" alt="${shopCart.shop.name}" class="shop-logo-modal me-2" style="width: 25px; height: 25px; border-radius: 50%;" onerror="this.src='${url.baseUrl}/img/Stores/default.jpg'">
                        <h6 class="mb-0 fs-sm">${shopCart.shop.name}</h6>
                    </div>
                    <ul class="ltn__cart-product-list">`;
                
                shopCart.cartItems.forEach(item => {
                    const product = item.product;
                    const subtotal = product.price * item.quantity;
                    overallTotalAmount += subtotal;
                    overallTotalItems += item.quantity;

                    modalCartHTML += `
                        <li>
                            <div class="cart-product-item d-flex">
                                <div class="cart-product-image me-3">
                                    <a href="/Product/Detail/${product.id}"><img src="${url.baseUrl}/img/Products/${product.imageUrl}" alt="${product.name}" style="width: 60px; height: 60px; object-fit: cover;"></a>
                                </div>
                                <div class="cart-product-info flex-grow-1">
                                    <h6 class="mb-1 fs-sm"><a href="/Product/Detail/${product.id}">${product.name}</a></h6>
                                    <span class="cart-product-quantity text-muted fs-xs">${item.quantity} x ${product.price.toLocaleString('vi-VN')}đ</span>
                                </div>
                                <div class="cart-product-subtotal text-end" style="min-width: 80px;">
                                    <span class="fs-sm fw-bold">${subtotal.toLocaleString('vi-VN')}đ</span>
                                </div>
                            </div>
                        </li>`;
                });
                modalCartHTML += '</ul>';
                 if (shopCart.cartItems.length > 0 && cartData.shopCarts.length > 1 && cartData.shopCarts.indexOf(shopCart) < cartData.shopCarts.length - 1) {
                    modalCartHTML += '<hr class="my-2">';
                }
            });
            modalCartHTML += '</div>';
            quickViewCartModalBody.innerHTML = modalCartHTML;

            quickViewCartTotalItems.textContent = overallTotalItems;
            quickViewCartTotalPrice.textContent = `${overallTotalAmount.toLocaleString('vi-VN')}đ`;
            quickViewCartModalFooter.style.display = 'block';
            updateLayoutCartItemCount(overallTotalItems);
        }

        async function fetchAndShowCart() {
            if (!quickViewCartModalInstance) {
                initializeCartModal();
            }
            
            quickViewCartModalBody.innerHTML = `
                <div class="text-center py-5">
                    <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Đang tải...</span></div>
                    <p class="mt-2">Đang tải giỏ hàng...</p>
                </div>`;
            quickViewCartModalFooter.style.display = 'none';
            if(quickViewCartModalInstance) quickViewCartModalInstance.show();

            try {
                const response = await cartService.getAll();
                if (response && response.success) {
                    renderCartInModal(response.data);
                } else {
                    quickViewCartModalBody.innerHTML = `
                        <div class="text-center py-5">
                            <i class="fas fa-exclamation-circle fa-3x text-danger mb-3"></i>
                            <h4>Không thể tải giỏ hàng</h4>
                            <p>${response.message || "Vui lòng thử lại sau."}</p>
                        </div>`;
                    Toast.error(response.message || "Không thể tải giỏ hàng");
                    updateLayoutCartItemCount(0);
                }
            } catch (error) {
                console.error("Lỗi khi tải giỏ hàng cho modal:", error);
                quickViewCartModalBody.innerHTML = `
                    <div class="text-center py-5">
                        <i class="fas fa-exclamation-circle fa-3x text-danger mb-3"></i>
                        <h4>Đã xảy ra lỗi</h4>
                        <p>Không thể tải giỏ hàng của bạn.</p>
                    </div>`;
                Toast.error("Đã xảy ra lỗi khi tải giỏ hàng");
                updateLayoutCartItemCount(0);
            }
        }
        
        // Hàm cập nhật số lượng trên icon khi trang load (nếu người dùng đã đăng nhập)
        async function updateInitialCartCount() {
            if (localStorage.getItem("accessToken")) {
                try {
                    const response = await cartService.getAll();
                    if (response && response.success && response.data && response.data.shopCarts) {
                        let totalItems = 0;
                        response.data.shopCarts.forEach(sc => {
                            sc.cartItems.forEach(ci => {
                                totalItems += ci.quantity;
                            });
                        });
                        updateLayoutCartItemCount(totalItems);
                    } else {
                        updateLayoutCartItemCount(0);
                    }
                } catch (error) {
                    console.warn("Không thể tải số lượng giỏ hàng ban đầu:", error);
                    updateLayoutCartItemCount(0);
                }
            } else {
                updateLayoutCartItemCount(0);
            }
        }

        if (layoutCartIcon) {
            layoutCartIcon.addEventListener('click', function(e) {
                e.preventDefault();
                if (localStorage.getItem("accessToken")) {
                     fetchAndShowCart();
                } else {
                    Toast.warning("Vui lòng đăng nhập để xem giỏ hàng của bạn.");
                    // Tùy chọn: chuyển hướng đến trang đăng nhập
                    // window.location.href = "/Home/Login"; 
                }
            });
        }

        if (quickViewCheckoutBtn) {
            quickViewCheckoutBtn.addEventListener('click', function() {
                if (!currentCartData || !currentCartData.shopCarts || currentCartData.shopCarts.length === 0) {
                    Toast.warning("Giỏ hàng của bạn đang trống. Không thể thanh toán.");
                    return;
                }

                const preparedData = {
                    userId: currentCartData.userId,
                    shopCarts: currentCartData.shopCarts.map(sc => ({
                        shopId: sc.shopId,
                        cartId: sc.id, 
                        cartItems: sc.cartItems.map(ci => ({
                            productId: ci.productId,
                            quantity: ci.quantity
                        }))
                    }))
                };
                
                localStorage.setItem('selectedCartItems', JSON.stringify(preparedData));
                if(quickViewCartModalInstance) quickViewCartModalInstance.hide();
                window.location.href = '/Account/Checkout';
            });
        }
        
        // Khởi tạo modal và cập nhật số lượng giỏ hàng ban đầu
        document.addEventListener('DOMContentLoaded', () => {
            initializeCartModal(); // Đảm bảo modal được khởi tạo để có thể show/hide
            updateInitialCartCount();
        });

    </script>

</body>

<!-- Mirrored from tunatheme.com/tf/html/broccoli-preview/broccoli/index-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Apr 2025 12:47:53 GMT -->

</html>
