@{
    ViewData["Title"] = "About";
    ViewBag.Title = "Về chúng tôi";
}

<!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image" data-bg="/img/bg/5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color">Về chúng tôi</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                                <li>Về chúng tôi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120--- pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="~/img/others/6.png" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">Tìm hiểu về sàn TMĐT nông sản</h6>
                            <h1 class="section-title">Sàn giao dịch <br class="d-none d-md-block"> Nông sản uy tín</h1>
                            <p>Sàn TMĐT nông sản kết nối trực tiếp nông dân, hợp tác xã và người tiêu dùng trên toàn quốc, mang đến nguồn nông sản sạch, an toàn và chất lượng.</p>
                        </div>
                        <p>Chúng tôi xây dựng một cộng đồng minh bạch, tin cậy, nơi mọi giao dịch đều hướng đến sự phát triển bền vững cho nông nghiệp Việt Nam. Sàn hỗ trợ người bán quảng bá sản phẩm, người mua dễ dàng tiếp cận nguồn hàng chất lượng với giá tốt nhất.</p>
                        <div class="about-author-info d-flex">
                            <div class="author-name-designation  align-self-center">
                                <h4 class="mb-0">Nguyễn Ngọc Đan Trường</h4>
                                <small>/ Giám đốc sàn TMĐT</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area section-bg-1 pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">//  Tính năng nổi bật  //</h6>
                        <h1 class="section-title">Vì sao chọn chúng tôi<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="~/img/icons/icon-img/21.png" alt="#"></span>
                            </div>
                            <h3><a href="#">Đa dạng nông sản</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Cung cấp hàng trăm loại nông sản tươi, sạch, truy xuất nguồn gốc rõ ràng từ khắp mọi miền đất nước.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="~/img/icons/icon-img/22.png" alt="#"></span>
                            </div>
                            <h3><a href="#">Sản phẩm chọn lọc</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Chỉ những sản phẩm đạt tiêu chuẩn chất lượng, an toàn thực phẩm mới được phân phối trên sàn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><img src="~/img/icons/icon-img/23.png" alt="#"></span>
                            </div>
                            <h3><a href="#">Không hóa chất độc hại</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Cam kết nông sản không sử dụng thuốc bảo vệ thực vật, hóa chất độc hại, đảm bảo sức khỏe cho người tiêu dùng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- PROGRESS BAR AREA START -->
    <div class="ltn__progress-bar-area before-bg-right pt-115 pb-95 d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ltn__progress-bar-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">// Kỹ năng</h6>
                            <h1 class="section-title">Chúng tôi có đội ngũ
                                chuyên nghiệp nhất<span>.</span></h1>
                            <p>Với nhiều năm kinh nghiệm trong lĩnh vực nông nghiệp, chúng tôi tự hào mang đến những sản phẩm chất lượng cao</p>
                        </div>
                        <div class="ltn__progress-bar-inner">
                            <div class="ltn__progress-bar-item">
                                <p>Chất lượng sản phẩm</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".5s" role="progressbar" style="width: 92%">
                                        <span>92%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ltn__progress-bar-item">
                                <p>Dịch vụ giao hàng</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".5s" role="progressbar" style="width: 94%">
                                        <span>94%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ltn__progress-bar-item">
                                <p>Hài lòng khách hàng</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".5s" role="progressbar" style="width: 91%">
                                        <span>91%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="ltn__video-bg-img ltn__video-popup-height-500 bg-overlay-black-50-- bg-image ml-30" data-bg="img/others/5.jpg">
                        <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/eWUxqVFBq74?autoplay=1&amp;showinfo=0" data-rel="lightcase:myCollection">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PROGRESS BAR AREA END -->

    <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">Câu hỏi thường gặp</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    Làm thế nào để mua sản phẩm?
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Quý khách có thể dễ dàng đặt hàng trực tuyến thông qua website của chúng tôi. Chỉ cần chọn sản phẩm, thêm vào giỏ hàng và tiến hành thanh toán. Ngoài ra, quý khách cũng có thể liên hệ trực tiếp qua hotline để được hỗ trợ đặt hàng.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"> 
                                    Làm thế nào để hoàn trả sản phẩm?
                                </h6>
                                <div id="faq-item-2-2" class="collapse show" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Chúng tôi chấp nhận hoàn trả sản phẩm trong vòng 3 ngày kể từ khi nhận hàng nếu sản phẩm không đúng chất lượng hoặc bị hư hỏng. Vui lòng liên hệ bộ phận chăm sóc khách hàng để được hướng dẫn cụ thể.</p>
                                    </div>
                                </div>
                            </div>                          
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false">
                                    Tôi là người dùng mới. Làm thế nào để bắt đầu?
                                </h6>
                                <div id="faq-item-2-3" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Chào mừng quý khách đến với sàn TMĐT nông sản của chúng tôi! Để bắt đầu, quý khách vui lòng đăng ký tài khoản, xác thực thông tin cá nhân và bắt đầu khám phá các sản phẩm nông sản tươi ngon. Nếu cần hỗ trợ, đội ngũ chăm sóc khách hàng luôn sẵn sàng giúp đỡ.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false">
                                    Chính sách đổi trả và hoàn tiền
                                </h6>
                                <div id="faq-item-2-4" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Chúng tôi cam kết hoàn tiền 100% nếu sản phẩm không đúng với mô tả hoặc bị hư hỏng trong quá trình vận chuyển. Quý khách có thể yêu cầu đổi trả trong vòng 3 ngày kể từ khi nhận hàng. Đối với sản phẩm tươi sống, vui lòng kiểm tra ngay khi nhận hàng và thông báo cho chúng tôi trong vòng 24 giờ.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-5" aria-expanded="false">
                                    Thông tin cá nhân của tôi có được bảo mật?
                                </h6>
                                <div id="faq-item-2-5" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>Chúng tôi cam kết bảo mật tuyệt đối thông tin cá nhân của quý khách. Mọi dữ liệu đều được mã hóa và lưu trữ an toàn theo tiêu chuẩn bảo mật quốc tế. Chúng tôi không chia sẻ thông tin của quý khách với bất kỳ bên thứ ba nào mà không có sự đồng ý. Quý khách có thể yên tâm khi mua sắm trên sàn TMĐT nông sản của chúng tôi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <aside class="sidebar-area ltn__right-sidebar mt-60">
                        <!-- Banner Widget -->
                        <div class="widget ltn__banner-widget">
                            <a href="shop.html"><img src="~/img/bg/12.png" alt="Banner Image"></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA START -->

    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="~/img/icons/icon-img/11.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Sản phẩm chọn lọc</h4>
                                        <p>Cung cấp sản phẩm chất lượng cao
                                            cho mọi đơn hàng trên 100.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="~/img/icons/icon-img/12.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Sản xuất thủ công</h4>
                                        <p>Chúng tôi đảm bảo chất lượng sản phẩm
                                            là mục tiêu hàng đầu</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="~/img/icons/icon-img/13.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Thực phẩm tự nhiên</h4>
                                        <p>Hoàn trả sản phẩm trong vòng 3 ngày
                                            cho bất kỳ sản phẩm nào bạn mua</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-12">
                                <div class="ltn__feature-item ltn__feature-item-8">
                                    <div class="ltn__feature-icon">
                                        <img src="~/img/icons/icon-img/14.png" alt="#">
                                    </div>
                                    <div class="ltn__feature-info">
                                        <h4>Giao hàng miễn phí</h4>
                                        <p>Chúng tôi đảm bảo chất lượng sản phẩm
                                            mà bạn có thể tin tưởng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->