@{
  ViewData["Title"] = "Home Page";
  ViewBag.Title = "Trang chủ";
}

<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3 section-bg-1">
  <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 arrow-white">
    <!-- ltn__slide-item -->
    <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 text-color-white bg-image"
      data-bg="img/slider/11.jpg">
      <div class="ltn__slide-item-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 align-self-center">
              <div class="slide-item-info">
                <div class="slide-item-info-inner ltn__slide-animation">
                  <div class="slide-video mb-50 d-none">
                    <a class="ltn__video-icon-2 ltn__video-icon-2-border"
                      href="https://www.youtube.com/embed/ATI7vfCgwXE?autoplay=1&amp;showinfo=0"
                      data-rel="lightcase:myCollection">
                      <i class="fa fa-play"></i>
                    </a>
                  </div>
                  <h6 class="slide-sub-title animated">
                    <img src="img/icons/icon-img/1.png" alt="#" /> 100% Sản phẩm
                    tự nhiên
                  </h6>
                  <h1 class="slide-title animated">
                    Nông Sản Sạch <br />
                    An Toàn Cho Gia Đình
                  </h1>
                  <div class="slide-brief animated">
                    <p>
                      Cam kết cung cấp nông sản sạch, an toàn, chất lượng cao
                      với giá cả hợp lý cho mọi gia đình Việt Nam.
                    </p>
                  </div>
                  <div class="btn-wrapper animated">
                    <a asp-controller="Product" asp-action="Index"
                      class="theme-btn-1 btn btn-effect-1 text-uppercase">Khám Phá Ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ltn__slide-item -->
    <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 text-color-white bg-image"
      data-bg="img/slider/12.jpg">
      <div class="ltn__slide-item-inner text-right text-end">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 align-self-center">
              <div class="slide-item-info">
                <div class="slide-item-info-inner ltn__slide-animation">
                  <h6 class="slide-sub-title animated">
                    <img src="img/icons/icon-img/1.png" alt="#" /> 100% Sản phẩm
                    tự nhiên
                  </h6>
                  <h1 class="slide-title animated">
                    Nông Sản Tươi Ngon <br />
                    Từ Vườn Đến Bàn Ăn
                  </h1>
                  <div class="slide-brief animated">
                    <p>
                      Kết nối trực tiếp người nông dân với người tiêu dùng, mang
                      đến những sản phẩm tươi ngon nhất.
                    </p>
                  </div>
                  <div class="btn-wrapper animated">
                    <a asp-controller="Product" asp-action="Index"
                      class="theme-btn-1 btn btn-effect-1 text-uppercase">Mua Sắm Ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!-- SLIDER AREA END -->

<!-- BANNER AREA START -->
<div class="ltn__banner-area mt-120">
  <div class="container">
    <div class="row ltn__custom-gutter--- justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/1.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/2.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/1.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BANNER AREA END -->

<!-- BANNER AREA START -->
<div class="ltn__banner-area mt-120 mt--90 d-none">
  <div class="container">
    <div class="row ltn__custom-gutter--- justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/1.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/2.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/1.jpg" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BANNER AREA END -->

<!-- BANNER AREA START -->
<div class="ltn__banner-area mt-120 d-none">
  <div class="container">
    <div class="row ltn__custom-gutter--- justify-content-center">
      <div class="col-lg-6 col-md-6">
        <div class="ltn__banner-item">
          <div class="ltn__banner-img">
            <a asp-controller="Product" asp-action="Index"><img src="img/banner/13.png" alt="Banner Image" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="ltn__banner-item">
              <div class="ltn__banner-img">
                <a asp-controller="Product" asp-action="Index"><img src="img/banner/14.png" alt="Banner Image" /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="ltn__banner-item">
              <div class="ltn__banner-img">
                <a asp-controller="Product" asp-action="Index"><img src="img/banner/15.png" alt="Banner Image" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BANNER AREA END -->

<!-- COUNTDOWN AREA START -->
<div class="ltn__call-to-action-area ltn__call-to-action-4 section-bg-1 pt-110 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="img/banner/11.png" alt="#" />
      </div>
      <div class="col-lg-7">
        <div class="call-to-action-inner call-to-action-inner-4 text-color-white--- text-center---">
          <div class="section-title-area ltn__section-title-2 text-center---">
            <h6 class="ltn__secondary-color">Todays Hot Deals</h6>
            <h1 class="section-title">
              Sản phẩm giới hạn <br />
              Bán chạy nhất
            </h1>
          </div>
          <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2025/06/01"></div>
          <div class="btn-wrapper animated">
            <a asp-controller="Product" asp-action="Index" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop
              now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- COUNTDOWN AREA END -->

<!-- PRODUCT AREA START (product-item-3) -->
<div class="ltn__product-area ltn__product-gutter pt-115 pb-70" id="featuredProducts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2 text-center">
          <h1 class="section-title">Sản Phẩm Nổi Bật</h1>
        </div>
      </div>
    </div>
    <div class="row ltn__tab-product-slider-one-active--- slick-arrow-1">
      @* Auto render product *@
    </div>
  </div>
</div>
<!-- PRODUCT AREA END -->

<!-- FEATURE AREA START ( Feature - 3) -->
<div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="img/icons/icon-img/11.png" alt="#" />
                </div>
                <div class="ltn__feature-info">
                  <h4>Sản Phẩm Được Chọn Lọc</h4>
                  <p>Cung cấp các sản phẩm nông sản chất lượng cao được chọn lọc kỹ lưỡng</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="img/icons/icon-img/12.png" alt="#" />
                </div>
                <div class="ltn__feature-info">
                  <h4>Sản Xuất Thủ Công</h4>
                  <p>Cam kết chất lượng sản phẩm là mục tiêu hàng đầu của chúng tôi</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="img/icons/icon-img/13.png" alt="#" />
                </div>
                <div class="ltn__feature-info">
                  <h4>Thực Phẩm Tự Nhiên</h4>
                  <p>Chính sách đổi trả trong vòng 3 ngày cho mọi sản phẩm</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
              <div class="ltn__feature-item ltn__feature-item-8">
                <div class="ltn__feature-icon">
                  <img src="img/icons/icon-img/14.png" alt="#" />
                </div>
                <div class="ltn__feature-info">
                  <h4>Giao Hàng Miễn Phí</h4>
                  <p>Đảm bảo chất lượng sản phẩm mà bạn có thể tin tưởng</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FEATURE AREA END -->

<script type="module">
  import { BaseService } from "/Custom/BaseService.js";
  import url from "/Custom/endpoints.js";
  import key from "/Custom/jwt.js";
  import Toast from "/Custom/Toast.js";

  console.log(url)
  const cartUrl = url.base + "/Cart";
  const cartService = new BaseService(cartUrl, key);
  const productBaseUrl = url.base + "/Product";
  const productService = new BaseService(productBaseUrl, key);
  const filter = {
    "searchTerm": "",
    "sortBy": 2,
    "page": 1,
    "pageSize": 8
  }

  const featuredProductsContainer = document.getElementById('featuredProducts');

  function renderProduct(product, baseUrl) {
    return `
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="ltn__product-item ltn__product-item-3 text-center">
                    <div class="product-img">
                        <a href="/Product/Details?id=${product.id}">
                            <img src="${baseUrl}/img/Products/${product.imageUrl}" alt="${product.name}" />
                        </a>
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badge">New</li>
                            </ul>
                        </div>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="/Product/Details?id=${product.id}" title="Quick View">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Add to Cart" class="add-to-cart-btn" data-product-id="${product.id}">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-ratting">
                            <ul>
                                ${generateRatingStars(product.averageRating)}
                            </ul>
                        </div>
                        <h2 class="product-title">
                            <a href="/Product/Details?id=${product.id}">${product.name}</a>
                        </h2>
                        <div class="product-price">
                            <span>${formatPrice(product.price)}</span>
                        </div>
                    </div>
                </div>
            </div>
        `;
  }

  function generateRatingStars(rating) {
    const fullStars = Math.floor(rating);
    const hasHalfStar = rating % 1 >= 0.5;
    let stars = '';

    for (let i = 0; i < fullStars; i++) {
      stars += '<li><a href="#"><i class="fas fa-star"></i></a></li>';
    }

    if (hasHalfStar) {
      stars += '<li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>';
    }

    const emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);
    for (let i = 0; i < emptyStars; i++) {
      stars += '<li><a href="#"><i class="far fa-star"></i></a></li>';
    }

    return stars;
  }

  function formatPrice(price) {
    return new Intl.NumberFormat('vi-VN', {
      style: 'currency',
      currency: 'VND'
    }).format(price);
  }

  function mapCart() {
    // Cart 
    // Add event listeners for add to cart buttons
    console.log(document.querySelectorAll('.add-to-cart-btn'));
    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
      button.addEventListener('click', function (e) {
        e.preventDefault();
        const productId = this.getAttribute('data-product-id');
        console.log(e, productId);
        cartService.fetchApi("/items", "POST", {
          "productId": parseInt(productId),
          "quantity": 1
        }).then(response => {
          console.log("Add to cart response:", response);
          if (response.success) {
            // Show success message
            Toast.success("Sản phẩm đã được thêm vào giỏ hàng!");
          } else {
            Toast.error("Không thể thêm sản phẩm vào giỏ hàng. Vui lòng thử lại sau!");
          }
        }).catch(error => {
          console.error("Error adding to cart:", error);
          Toast.error("Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng!");
        });
      });
    });
  }

  productService.find(filter).then(response => {
    if (response.success) {
      const products = response.data;
      const productsHTML = products.map(product => renderProduct(product, url.baseUrl)).join('');

      const productsContainer = `
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-area ltn__section-title-2 text-center">
                                <h1 class="section-title">Sản Phẩm Nổi Bật</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row ltn__tab-product-slider-one-active--- slick-arrow-1">
                        ${productsHTML}
                    </div>
                </div>
            `;

      featuredProductsContainer.innerHTML = productsContainer;
      mapCart();
    }
  });
</script>
